/* .dropdown{
    min-width: 15em;
    position: relative;
    margin: 2em;
}
.dropdown * {
box-sizing: border-box;
}
.select{
    background-color: aqua;
    color: antiquewhite;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    border-radius: 5px;
    padding: 1em;
    cursor: pointer;
    transition: background 0.3s;
    
}
.select-clicked{
    border: 2px thistle solid;
    box-shadow: 0 0 0.8em #26489a;
}
.select:hover{
    background-color: gray;
}
.caret{
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid red;
    transition: 0.3s;
}
.caret-rotate{
    transform: rotate(180deg);
}
.menu{
    list-style: none;
    padding: 0.2em 0.5em;
    background: #323741;
    border: 1px solid red;
    box-shadow: 0 0.5em 1em rgba(0,0,0.2);
    border-radius: 00.5em;
    color: blueviolet;
    position: absolute;
    top: 3em;
    left: 50%;
    width: 100%;
    z-index: 1;
    transition: 0.2s;
    display: none;
    opacity: 0;
    transform: translateX(-50%);
}
.menu li{
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor: pointer;
}
.menu li:hover{
    background-color: greenyellow;
}
.active{
    background-color: #23224a;
}
.menu-open{
    display: block;
    opacity: 1;
} */
#price{
    font-size: 22px;
}
#nord_main{
    display: flex;
  
   width: 95%;
margin: auto;
gap: 5%;
}
#child_image{
  
margin-left: 5%;

}
#child_image:hover{
    cursor: crosshair;
}
#checkoutBtn{
    width: 60%;
    padding: 10px 0;
    background-color: #000000;
    color: white;
    font-weight: 400;
    line-height: 18px;
    font-size: 15px;
    font-style: normal;
    padding: 8px;
    font-family: "brandon text";
}

/*
 #child_image:hover{
    -ms-transform: scale(1.5); 
    -webkit-transform: scale(1.5); 
    transform: scale(1.5); 
}*/


#child_detail{
    text-align: left;

    width: 40%;
}
#title{
  font-family: "brandon text";
  
    font-weight: 550;
    line-height: 27px;
    color: #393939;
    font-size: 28px;
    font-style: normal;
}
#detail{
   
    font-weight: 400;
    line-height: 18px;
    color: #393939;
    font-size: 17px;
    font-style: normal;
    
}
.fit_size{
    font-family: "brandon text";
    font-weight: 400;
    line-height: 18px;
    color: #393939;
    font-size: 15px;
    font-style: normal;
    
}
#sizeguide{
    text-decoration: underline;
    margin-left: 62%;
}
#select_size{
    width: 80%;
    border: 0.5px solid #ececec;
    font-weight: 400;
    line-height: 18px;
    color: #393939;
    font-size: 17px;
    font-style: normal;
    padding: 8px;
    font-family: "brandon text";
}

#select_size>option{
    font-weight: 400;
    line-height: 18px;
    color: #393939;
    font-size: 20px;
    font-style: normal;
    padding: 8px;
    font-family: "brandon text";
}
#option_of_size{
    margin-top: -10px;
}
#soft_pink{
    margin-top: -10px;
    width: 120px;
    height: 50px;
}

#people_viewing{
    color: red;
}
#add_to_bag{
    width: 100%;
    padding: 10px 0;
    background-color: #000000;
    color: white;
    font-weight: 400;
    line-height: 18px;
    font-size: 15px;
    font-style: normal;
    padding: 8px;
    font-family: "brandon text";
}
#add_to_bag>i{
    margin: 8px;
}
#add_to_bag:hover{
    cursor: pointer;
    background-color: #393939;
}

#add_to_wish{
    text-decoration: underline;
    line-height: 27px;
    font-weight: bold;
    margin-left: 5px;
    font-size: 15px;
}
#last_img{
    width: 20%;
}
.last_detail{
    margin-top: -5px;
    margin-bottom: 4px;
    text-align: center;
}
#last{
    text-align: center;
}
#last>div{
    padding: 5px;
}
 
#image_last:hover{
  
    
    cursor: pointer;
    background-color: #ececec
}
.currCart{
    width: 500px;
    height: 600px;
    position: fixed;
    z-index: 3;
    background-color: white;
    box-shadow: 1px 3px 3px 1000px rgba(0, 0, 0, 0.541);
    top: 5%;
    left: 30%;
    display: flex;
    flex-direction: column;
    visibility: hidden;
}
.currCart .topBar{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: end;
}
.currCart #closeIcon{
    font-size: 40px;
    color: silver;
    padding: 5px;
}
.currCart #closeIcon:hover{
    cursor: pointer;
}
.currCart .cartInfo{
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 80px;
}
.currCart .cartInfo #lftBox{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.currCart .cartInfo #lftBox #cartImg{
    width: 90%;
    height: 60%;
}
.currCart .cartInfo #rgtBox{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.currCart .cartInfo #rgtBox #dynmInfo{
    width: 100%;
    height: 100%;
    display: flex;  
    flex-direction: column;
    color: rgb(88, 88, 88);
}
.currCart .cartInfo #rgtBox #dynmInfo .cartPriceTxt{
    color: black;
    font-weight: bold;
}