#tranding{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 10px;
}
#tranding>div{
    /* border: 2px solid; */
    /* background-color: rgb(248, 248, 248); */
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    padding-left: 5px;
}
#tranding>div>img{
    width: 100%;
    /* background-color: transparent; */
    height: 300px;
}

#boxes{
    text-align: center;
    font-size: 20px;
}
#boxes>button{
    padding: 10px;
    background-color: white;
}

#box1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 160px;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: rgb(246, 246, 246);
    /* align-items: center; */
}
#box1>div>#logo{
    height: 40px;
    width: 70px;
}
#box1>div:nth-child(3)>img{
    height: 80%;
    width: 180px;
}
#box2{
    width: 90%;
    display: flex;
    margin: auto;
    height: auto;
}
#box2>div:last-child{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    width: 30%;
    padding: 20px;
}
#box2>div:nth-child(2)>div{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
}
#box2>div:nth-child(2)>div>a{
    color: black;
    text-decoration: underline;
    margin-right: 15px;
}
#box2>div:first-child{
    width: 70%;
    height: 600px;
}
#box2>div>img{
    width: 100%;
    height: 100%;
}
#heading{
    text-align: center;
    color: rgb(84, 83, 83);
    font-size: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
}
#box3{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    padding-bottom: 40px;
}
#box3>div>img{
    width: 100%;
    height: 400px;
}
#box3>div>a{
    text-decoration: none;
    color: black;
}
#box4{
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    height: auto;
    width: 95%;
}
#box4>img{
width: 100%;
height: 400px;
}

#heading2{
    text-align: center;
    color: rgb(84, 83, 83);
    font-size: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
}
#heading2>a{
    text-decoration: none;
    color: black;
}
#box6{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    padding-bottom: 40px;
}
#box6>div>h2{
    margin: auto;
    color: rgb(57, 57, 57);
}
#box6>div>img{
    width: 100%;
    height: 400px;
}
#box6>div>a{
    text-decoration: none;
    color: black;
}
#box7>#icons{
    display: flex;
            height: 50px;
            width: 30%;
            justify-content: space-between;
            align-items: center;
}
#box7>#icons>div:hover{
    text-decoration: underline;
}
#box7 *{
    box-sizing: border-box;
}
#box8{
    width: 100%;
    height: 600px;
    text-align: center;
    margin-bottom: 20px;
}
#box8>a>img{
    width: 100%;
    height: 90%;
}
#box9{
    /* width: 100%; */
    /* display: flex; */
    height: 200px;
    margin-top: 50px;
    /* border: 2px solid; */
}
#box9>a>img{
    width: 100%;
    height: 100%;
    
}

#box5 *, #box10 *, #box12 *{
    margin: 0;
    padding: 0;box-sizing: border-box;
}
#box5 .main, #box7 .main, #box10 .main, #box12 .main{
    position: relative; width: 100%;
    background: white;padding: 20px;border-radius: 10px;
}
#box5, #box7, #box10, #box12{
    width: 95%;
    margin-top: 30px;
    margin: auto;
    height: auto;
}
#box5>.main>.left,#box5>.main>.right, #box7>.main>.left,#box7>.main>.right,#box10>.main>.left,#box10>.main>.right, #box12>.main>.left,#box12>.main>.right{
    position: absolute;
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 50px;
}
#box5>.main>.left, #box7>.main>.left, #box10>.main>.left, #box12>.main>.left{
    top:40%;
    left: -25px;
}
#box5>.main>.right, #box7>.main>.right, #box10>.main>.right, #box12>.main>.right{
right: -25px;
bottom:45%;
transform: :rotate(180deg);
}
#box5>.main>.item_box, #box7>.main>.item_box, #box10>.main>.item_box, #box12>.main>.item_box{
overflow-x:hidden;
display: flex;
}
#box5>.main>#pics>.item>h3, #box7>.main>#filtered_value>.item>h3, #box10>.main>#bestSelling>.item>h3, #box12>.main>#fvt_images>.item>h3{
    margin-top: 5px;
}
#box5>.main>#pics>.item>p:nth-child(3){
    color: red;
    font-size: 10;
    margin-top: 5px;
}
#box7>.main>#filtered_value>.item>p:nth-child(3), #box10>.main>#bestSelling>.item>p:nth-child(3), #box12>.main>#fvt_images>.item>p:nth-child(3){
    color: black;
    font-size: 10;
    margin-top: 5px;
}
#box5>.main>#pics>.item>p:last-child{
    margin-top: 5px;
    text-decoration: line-through;
}
#box5>.main>#pics>.item, #box7>.main>#filtered_value>.item, #box10>.main>#bestSelling>.item, #box12>.main>#fvt_images>.item{
min-width: 19%;
/* max-width: 20%; */
margin-left: 15px;
height: auto;
border-radius: 20px;
padding-bottom: 10px;
}
#box5>.main>#pics>.item:first-child,#box7>.main>#filtered_value>.item:first-child, #box10>.main>#bestSelling>.item:first-child, #box12>.main>#fvt_images>.item:first-child{
margin-left: 0;;
}
#box5>.item_box::-webkit-scrollbar, #box7>.item_box::-webkit-scrollbar, #box10>.item_box::-webkit-scrollbar, #box12>.item_box::-webkit-scrollbar{
height: 0;
width: 0;
}
#box5>.main>#pics>div>img, #box7>.main>#filtered_value>div>img, #box10>.main>#bestSelling>div>img, #box12>.main>#fvt_images>div>img{
  width:100%;
  height: 300px;
}
#box12{
    text-align: center;
}
#box11{
    width: 100%;
    height: 500px;
    margin-top:50px;
    margin-bottom: 50px;
    text-align: center;
}
#box11>a>img{
    height: 100%;
    width: 100%;
}
hr{
    height: 2px;
    background-color: black;
    margin-top: 50px;
    margin-bottom: 50px;
}