*{
    font-family: 'Lato', sans-serif;
}
.footer {
    display: flex;
    background-color:whitesmoke;
    
}

.footer-column{
    flex-basis: 250px;
    padding:10px;

}
.heading{
    font-size: 15px;
    font-weight: 700;
}
.lo{
    list-style-type: none;
    text-align:start;
}

.lo > li{
    padding:5px;
    font-size: 12px;
 
}
.lo> li:hover{
    text-decoration: underline;
    text-decoration-color: black;
    text-decoration-thickness: 1px;
}

.footer > p{
    flex-basis: 120px;
    padding:20px;
    font-size: 12px;
}

.footer > p:hover{
    text-decoration: underline;
    text-decoration-color: black;
    text-decoration-thickness: 1px;
}